@import "rsuite/styles/index.less";
@import "./color.scheme.less";

@enable-dark-mode: true;
@enable-high-contrast: false;
@primary-color2: #000;
@enable-ripple-effect: false;

.rs-theme-dark {
  --rs-body: #292929;
}

.rs-theme-light {
  --rs-body: #fefef9;
}
